body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color:black;
    color:yellow;
    
    
}

.highlight{
    color: white;
}


header{
    
    text-align: center;
   
}

h3{
    position: relative;
    right: 10px;
}

footer{
    border: 1px solid yellow;
   /* margin-top:100px;
    position: relative;
    left: 160px;*/
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 80%;
}
img{
    width: 400px;
    height:400px;
   position: relative;
    left: 450px;
    
    border: 1px solid green;
}


main{
    position:relative;
    
}

#dollar ,#stirling,#euro{

    text-align: center;
    border: 1px solid yellow;
    width: 80%;
    margin: auto;
    
}




@keyframes crypt {
    from{background-color: black;color: yellow;}
    to{background-color:blue;color:white;}
}
body{
    animation-name: crypt;
    animation-duration: 10s;
}


@media screen and (max-width:416px) {
    body{
        font-size: 7px;
    }
   
    header{
        
        font-size: 10px;
    
        margin: auto;
    }

    h3{
        font-size: 14px;
        
        margin-top: 20px;
        
    }
    

h2{
    font-size: 14px;
    
    
}

footer{
   /* position: relative;
    left: 10px;*/
    font-size: 14px;
    text-align: center;
    margin: auto;
}



    img{
        width: 170px;
        height: 170px;
        position: relative;
        left: 120px;
        margin-bottom: 13px;
    }


    #dollar,#stirling,#euro{
        font-size: 15px;
        margin: auto;
      /*  position: relative;
        left: 10px;*/
        
    }

/*
    #discl{
        font-size: 15px;
        position: relative;
        left: 10px;
    }*/

    #forimage{
        margin-top: 30px;
    }

    main{
        margin-top: 50px;
    }
}
