body {
    background-color:black;
    color:yellow;
    
}

.highlight{
    color: white;
}


header{
    position:relative;
    left: 400px;
}

h3{
    position: relative;
    right: 200px;
}

footer{
    
    margin-top:100px;
    position: relative;
    left: 160px;
    font-size: 20px;
}
img{
    width: 400px;
    height:400px;
    position: relative;
    left: 400px;
}


main{
    position:relative;
    
}

#dollar ,#stirling,#euro{

    position: relative;
    left: 520px;
    
}

#discl{

    position: relative;
    left: 380px;
}


@keyframes crypt {
    from{background-color: black;color: yellow;}
    to{background-color:blue;color:white;}
}
body{
    animation-name: crypt;
    animation-duration: 10s;
}


@media screen and (max-width:416px) {
    body{
        font-size: 7px;
    }
    header{
        position: relative;
        font-size: 10px;
        left: 24px;
    }

    h3{
        font-size: 14px;
        position: relative;
        left: 20px;
        margin-top: 20px;
    }
    h1{
        position: relative;
        left: 20px;
    }

h2{
    font-size: 14px;
    position: relative;
    left: 20px;
}

footer{
    position: relative;
    left: 18px;
    font-size: 14px;
}



    img{
        width: 170px;
        height: 170px;
        position: relative;
        left: 100px;
    }


    #dollar,#stirling,#euro{
        font-size: 15px;
        position: relative;
        left: 110px;
        
    }


    #discl{
        font-size: 15px;
        position: relative;
        left: 110px;
    }

    #forimage{
        margin-top: 30px;
    }

    main{
        margin-top: 50px;
    }
}
